#lightbulb {
    position: relative;
}

#lightbulb label {
    background-image: url('https://images.freeimages.com/fic/images/icons/1588/farm_fresh_web/32/lightbulb_off.png');
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: -36px;
}

#lightbulb input[type='checkbox'] {
    -webkit-appearance: none;
}

#lightbulb input:checked + label {
    background-image:url('https://images.freeimages.com/fic/images/icons/1588/farm_fresh_web/32/lightbulb.png');
}