body {
    padding: var(--spacing-small);
    font-size: var(--font-regular);
    color: var(--blue);
    background-color: var(--dark-blue);
}

body.dark #content .main {
    display: none;
}


#content {
    max-width: 640px;
    margin: 0 auto;
    padding: var(--spacing-small);
}

#buttons {
    margin: 0 auto;
}

#buttons button {
    padding: var(--spacing-small) var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
    color: var(--white);
    background-color: var(--blue);
}

#buttons button:hover {
    background-color: var(--mid-blue);
}

#buttons button.disable,
#buttons.enabled button.enable {
    display: none;
}

#buttons.enabled button.disable {
    display: inline-block;
}

#buttons button.disable {
    background-color: var(--dark-red);
}

#buttons button.disable:hover {
    background-color: var(--red);
}

/*@media screen and (max-width: 660px) {*/
/*    body {*/
/*        padding-bottom: 24px;*/
/*    }*/
/*    h1 {*/
/*        font-size: 2.35em;*/
/*    }*/
/*    p {*/
/*        font-size: 0.9em;*/
/*        padding-left: 18px;*/
/*        padding-right: 18px;*/
/*    }*/
/*    ul {*/
/*        margin: 0 18px;*/
/*    }*/
/*    li {*/
/*        font-size: 0.9em;*/
/*    }*/
/*}*/