body {
    padding: var(--spacing-small);
    font-size: var(--font-regular);
    color: var(--blue);
    background-color: var(--dark-blue);
}

body.dark #content .main {
    display: none;
}


#content {
    max-width: 640px;
    margin: 0 auto;
    padding: var(--spacing-small);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-medium);
}

#buttons {
    display: flex;
}

#buttons button {
    padding: var(--spacing-small) var(--spacing-medium);
    color: var(--white);
    background-color: var(--blue);
    width: 228px;
}

#buttons button:hover {
    background-color: var(--mid-blue);
}

#buttons button.disable,
#buttons.enabled button.enable {
    display: none;
}

#buttons.enabled button.disable {
    display: inline-block;
}

#buttons button.disable {
    background-color: var(--dark-red);
}

#buttons button.disable:hover {
    background-color: var(--red);
}

@media screen and (max-width: 660px) {
    #header {
        flex-direction: column;
    }

    #header #buttons {
        margin-top: var(--spacing-small);
        margin-left: var(--spacing-huge);
    }
}